/mishkal/lib/aranasyn/stemmedsynword.old.py
/mishkal/lib/aranasyn/txt
/mishkal/lib/aranasyn/txt.html
/mishkal/lib/arramooz/stopwordsdictionaryclass0.1.py
/mishkal/lib/disambig.txt
/mishkal/lib/libqutrub/output/verbs_models.txt
/mishkal/lib/libqutrub/samples/verbs_models.csv
/mishkal/lib/qalsadi/stem_stopwords.new.py
/mishkal/lib/qalsadi/stem_stopwords2.py
/mishkal/lib/qalsadi/stopwords2.py
/mishkal/lib/tashaphyne/pyarabic/__init__.py
/mishkal/lib/tashaphyne/pyarabic/arabrepr.py
/mishkal/lib/tashaphyne/pyarabic/araby.py
/mishkal/lib/tashaphyne/pyarabic/araby_const.py
/mishkal/lib/tashaphyne/pyarabic/doc/api-objects.txt
/mishkal/lib/tashaphyne/pyarabic/doc/crarr.png
/mishkal/lib/tashaphyne/pyarabic/doc/doc.zip
/mishkal/lib/tashaphyne/pyarabic/doc/epydoc.css
/mishkal/lib/tashaphyne/pyarabic/doc/epydoc.js
/mishkal/lib/tashaphyne/pyarabic/doc/frames.html
/mishkal/lib/tashaphyne/pyarabic/doc/help.html
/mishkal/lib/tashaphyne/pyarabic/doc/identifier-index.html
/mishkal/lib/tashaphyne/pyarabic/doc/index.html
/mishkal/lib/tashaphyne/pyarabic/doc/module-tree.html
/mishkal/lib/tashaphyne/pyarabic/doc/pyarabic.araby-module.html
/mishkal/lib/tashaphyne/pyarabic/doc/pyarabic.araby-pysrc.html
/mishkal/lib/tashaphyne/pyarabic/doc/redirect.html
/mishkal/lib/tashaphyne/pyarabic/doc/toc-everything.html
/mishkal/lib/tashaphyne/pyarabic/doc/toc-pyarabic.araby-module.html
/mishkal/lib/tashaphyne/pyarabic/doc/toc.html
/mishkal/lib/tashaphyne/pyarabic/harf.py
/mishkal/lib/tashaphyne/pyarabic/named.py
/mishkal/lib/tashaphyne/pyarabic/named_const.py
/mishkal/lib/tashaphyne/pyarabic/number.py
/mishkal/lib/tashaphyne/pyarabic/number_const.py
/mishkal/lib/tashaphyne/pyarabic/propernouns.py
/mishkal/lib/tashaphyne/pyarabic/stack.py
/mishkal/lib/tashaphyne/pyarabic/unshape.py
/mishkal/lib/test.py
/mishkal/tashkeel/tashkeel2.py
/mishkal/tashkeel/tashkeel3.py
/mishkal/tashkeel2/__init__.py
/mishkal/tashkeel2/tashkeel.py
/mishkal/tashkeel2/tashkeel_const.py
/mishkal/tashkeel2/testNamed.py
/resources/files/adawat.js~
/resources/files/adawatstyle.css~
/resources/templates/main.html~
/tests/file.stats
/tests/output/compare/L2014-07-11-13:01.txt
/tests/output/compare/L2014-07-11-13:02.txt
/tests/output/compare/L2014-07-11-13:27.txt
/tests/output/compare/L2014-07-11-19:20.txt
/tests/output/compare/L2014-07-15-12:28.txt
/tests/output/compare/L2014-07-15-21:02.txt
/tests/output/compare/L2014-12-05-18:02.txt
/tests/output/compare/L2014-12-05-18:03.txt
/tests/output/compare/L2014-12-05-18:04.txt
/tests/output/compare/L2014-12-05-18:05.txt
/tests/output/compare/L2014-12-05-18:09.txt
/tests/output/compare/L2014-12-05-18:10.txt
/tests/output/compare/L2014-12-05-18:11.txt
/tests/output/compare/L2014-12-05-18:27.txt
/tests/output/compare/L2014-12-05-18:29.txt
/tests/output/compare/L2014-12-22-18:04.txt
/tests/output/compare/L2014-12-22-20:28.txt
/tests/output/compare/L2014-12-22-20:29.txt
/tests/output/compare/L2014-12-22-20:31.txt
/tests/output/compare/L2014-12-22-20:33.txt
/tests/output/compare/L2014-12-22-20:34.txt
/tests/output/compare/L2014-12-22-20:36.txt
/tests/output/compare/L2014-12-22-20:51.txt
/tests/output/compare/L2014-12-22-20:53.txt
/tests/output/compare/L2014-12-22-20:57.txt
/tests/output/compare/L2014-12-22-21:03.txt
/tests/output/compare/L2014-12-22-22:05.txt
/tests/output/compare/L2014-12-22-22:19.txt
/tests/output/compare/L2014-12-22-22:30.txt
/tests/output/compare/L2014-12-22-22:54.txt
/tests/output/compare/L2014-12-22-23:07.txt
/tests/output/compare/L2014-12-22-23:28.txt
/tests/output/compare/L2014-12-23-13:32.txt
/tests/output/compare/L2014-12-24-18:19.txt
/tests/output/compare/L2014-12-24-18:36.txt
/tests/output/compare/L2014-12-24-18:54.txt
/tests/output/compare/L2014-12-24-19:29.txt
/tests/output/compare/L2014-12-24-19:33.txt
/tests/output/compare/L2014-12-24-19:41.txt
/tests/output/compare/L2014-12-24-20:02.txt
/tests/output/compare/L2014-12-24-22:38.txt
/tests/output/compare/L2014-12-25-09:16.txt
/tests/output/compare/Q2014-07-15-11:54.txt
/tests/output/compare/file.stats
/tests/output/compare/qalb.txt
/tests/samples/vocalized/adab.txt
/tests/samples/vocalized/almuhalla.012.txt
/tests/samples/vocalized/qalbvoca.txt
/mishkal/lib/tashaphyne/pyarabic/.svn/entries
/mishkal/lib/tashaphyne/pyarabic/.svn/format
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/00/004999744fb038aef6777714a9c3ed8cce16159f.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/02/02b4d6fc35c6ef5846cf8b591875c422bba4df2c.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/04/042e6eeef4d132b704d30e52bc8872c7bf6ce32f.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/05/051d25e6f704525833e7035e39362a94ca22ee40.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/06/06bc55bc72b7bc50bff9199e1fba547d9e1bf0c4.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/08/0873894c644338eaa661bff60024ad4ec556d5cb.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/0a/0a6154da8e2a5cf97869904678f9fae18a38bb6c.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/0c/0c0321038d8f397b45faf0d8625598ca7375e405.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/0d/0ddfb96a45f99f02f9d483e836b4e00f5ef399d0.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/13/136c78412115b58b4af82f9f1462f141d28044bd.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/18/18791c8960e85fb96fc8afafaac016dfa1c839ce.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/1a/1a1d9fb31a6cfaef181a8cc0d08a5cc6f2673bb2.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/1a/1a1dc4126405e8231a775d7e6b414140dbf370e4.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/1f/1f3035fd26c878e16befa9f9ef44777e5b21d328.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/1f/1f56c5dd2130a9169f02c84ecc7fe1b44516bbd7.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/1f/1f6db8202852dba91d1855031edc49c7b8286c57.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/21/218cf43ca665d40f2058d8a54f293e10083bb336.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/29/29c67b1ff7779972eb5751e496fe8f2364d9b409.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/3e/3e9e62e7cdca151e3997f9950677d787ba6d6217.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/3f/3f144a19b87b82441a1fce88804b961d68db4dc1.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/46/4668432ce733fe1f2a75c03aa6e1b865add73f2d.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/49/494162b1b7c1896e66450dfc1396654427524bea.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/4a/4add61cc1efd7685515c7ac97253ace0ace7f2b7.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/4d/4dad4ce89cbc72711f55f66437f1187705d28286.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/51/518e70f944bcbfdbef78200e65e625171e33f5c6.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/62/62a48ffe6275f1e8b93031b01748b9296a5b0efe.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/64/64b8f794d2a27ad41005af614b9204b46d4f1787.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/6b/6b053095c1ab369676c3e67b96d972a1a7d9d817.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/77/77602a3e36261e3f609424431e05e43a7cc69fe4.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/7e/7ef08e4761f7ed39f017fa4c6a7636aeff19866b.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/7f/7f2efbc6130ee4ccacbc4f512392c5a78484fb96.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/7f/7f79f8913771a22b1e6ca320653da7d92c37aa09.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/80/809adcd62b9c6bed2b53a93863bba30368484df5.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/83/8346b03d38205a497209af7faa0ab41199944ae6.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/87/871ca842d0cc1e89c655256d8f7bd8a0f9301367.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/89/89354bbd0a8b18b2f233f33f3b0fb71e3d311768.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/91/913eb54aaa43138d0c46b5e5b23769b149d82c29.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/91/91807c4d882dbf2ba8f1130bf7afd96190465ec9.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/92/921df336ac0765c8eee08807a0cbf3a3928eaa73.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/a0/a0027a9a39605ee439a067a0c7a4046ca093ea85.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/a0/a0243af9a15a4cb631749b311aa9896dc99a86ac.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/af/af6c7fe2866d5c85ce6ba038a232e61db71698ba.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/b2/b2efbe9a4b902fd5b49c639187c8c0c3bc6dcbb9.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/b6/b6030b8d9b6a4878314c1e396d3d1ebda580727c.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/b7/b72d90278550080fc27ae3afe34d1f631f8b061e.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/bc/bcc1196f30b7180116d58baef4b1b980a51cbdbe.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/c0/c0b400890e626ee3ae1a7a575af019cf7a0bf278.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/c7/c7e4142974fa9708f38763fe9ecd4ad3d1c36c26.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/c7/c7fb4b85209d432d7bf5de72bed1b1c7f3b9328d.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/d0/d011955e80d328da2513bc821217fbe32149840f.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/d3/d3e14a7a563333a667cdac1260255a5788817f9b.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/d3/d3f5cf42e68cbcc4912d274460c3d3074bdca91f.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/d4/d4b3765f011a61ab3f2d7ba91b5a89d505db725c.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/da/dafaddffd0bbdd1fc47e0a870a17f69b5ee0ccd2.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/e3/e324a28b7fbc994e03c6ea5b304a9ffb481a1f49.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/e6/e65325be4407363ca219005730c1afd44d8868e7.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/ef/ef4b487aea188b4d1468e2fbba22ccee9c360e86.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/f5/f51b22b08f436c657625456cbc87fa1788cc4247.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/f6/f6987ba0c6a35e55b9815e9196256f50b92e1ff5.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/fb/fb848f060a4bf789c476b61f3585014e395ad03a.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/fe/fee654cc70a179f239b9720f64bf04df596b0b59.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/pristine/ff/ffd7336b1d73784b0cc2f19b1d7e8a23a2be6970.svn-base
/mishkal/lib/tashaphyne/pyarabic/.svn/wc.db
/mishkal/lib/pyarabic/.svn/entries
/mishkal/lib/pyarabic/.svn/format
/mishkal/lib/pyarabic/.svn/pristine/00/004999744fb038aef6777714a9c3ed8cce16159f.svn-base
/mishkal/lib/pyarabic/.svn/pristine/02/02b4d6fc35c6ef5846cf8b591875c422bba4df2c.svn-base
/mishkal/lib/pyarabic/.svn/pristine/04/042e6eeef4d132b704d30e52bc8872c7bf6ce32f.svn-base
/mishkal/lib/pyarabic/.svn/pristine/05/051d25e6f704525833e7035e39362a94ca22ee40.svn-base
/mishkal/lib/pyarabic/.svn/pristine/06/06bc55bc72b7bc50bff9199e1fba547d9e1bf0c4.svn-base
/mishkal/lib/pyarabic/.svn/pristine/08/0873894c644338eaa661bff60024ad4ec556d5cb.svn-base
/mishkal/lib/pyarabic/.svn/pristine/0a/0a6154da8e2a5cf97869904678f9fae18a38bb6c.svn-base
/mishkal/lib/pyarabic/.svn/pristine/0c/0c0321038d8f397b45faf0d8625598ca7375e405.svn-base
/mishkal/lib/pyarabic/.svn/pristine/0d/0ddfb96a45f99f02f9d483e836b4e00f5ef399d0.svn-base
/mishkal/lib/pyarabic/.svn/pristine/13/136c78412115b58b4af82f9f1462f141d28044bd.svn-base
/mishkal/lib/pyarabic/.svn/pristine/18/18791c8960e85fb96fc8afafaac016dfa1c839ce.svn-base
/mishkal/lib/pyarabic/.svn/pristine/1a/1a1d9fb31a6cfaef181a8cc0d08a5cc6f2673bb2.svn-base
/mishkal/lib/pyarabic/.svn/pristine/1a/1a1dc4126405e8231a775d7e6b414140dbf370e4.svn-base
/mishkal/lib/pyarabic/.svn/pristine/1f/1f3035fd26c878e16befa9f9ef44777e5b21d328.svn-base
/mishkal/lib/pyarabic/.svn/pristine/1f/1f56c5dd2130a9169f02c84ecc7fe1b44516bbd7.svn-base
/mishkal/lib/pyarabic/.svn/pristine/1f/1f6db8202852dba91d1855031edc49c7b8286c57.svn-base
/mishkal/lib/pyarabic/.svn/pristine/21/218cf43ca665d40f2058d8a54f293e10083bb336.svn-base
/mishkal/lib/pyarabic/.svn/pristine/29/29c67b1ff7779972eb5751e496fe8f2364d9b409.svn-base
/mishkal/lib/pyarabic/.svn/pristine/3e/3e9e62e7cdca151e3997f9950677d787ba6d6217.svn-base
/mishkal/lib/pyarabic/.svn/pristine/3f/3f144a19b87b82441a1fce88804b961d68db4dc1.svn-base
/mishkal/lib/pyarabic/.svn/pristine/46/4668432ce733fe1f2a75c03aa6e1b865add73f2d.svn-base
/mishkal/lib/pyarabic/.svn/pristine/49/494162b1b7c1896e66450dfc1396654427524bea.svn-base
/mishkal/lib/pyarabic/.svn/pristine/4a/4add61cc1efd7685515c7ac97253ace0ace7f2b7.svn-base
/mishkal/lib/pyarabic/.svn/pristine/4d/4dad4ce89cbc72711f55f66437f1187705d28286.svn-base
/mishkal/lib/pyarabic/.svn/pristine/51/518e70f944bcbfdbef78200e65e625171e33f5c6.svn-base
/mishkal/lib/pyarabic/.svn/pristine/62/62a48ffe6275f1e8b93031b01748b9296a5b0efe.svn-base
/mishkal/lib/pyarabic/.svn/pristine/64/64b8f794d2a27ad41005af614b9204b46d4f1787.svn-base
/mishkal/lib/pyarabic/.svn/pristine/6b/6b053095c1ab369676c3e67b96d972a1a7d9d817.svn-base
/mishkal/lib/pyarabic/.svn/pristine/77/77602a3e36261e3f609424431e05e43a7cc69fe4.svn-base
/mishkal/lib/pyarabic/.svn/pristine/7e/7ef08e4761f7ed39f017fa4c6a7636aeff19866b.svn-base
/mishkal/lib/pyarabic/.svn/pristine/7f/7f2efbc6130ee4ccacbc4f512392c5a78484fb96.svn-base
/mishkal/lib/pyarabic/.svn/pristine/7f/7f79f8913771a22b1e6ca320653da7d92c37aa09.svn-base
/mishkal/lib/pyarabic/.svn/pristine/80/809adcd62b9c6bed2b53a93863bba30368484df5.svn-base
/mishkal/lib/pyarabic/.svn/pristine/83/8346b03d38205a497209af7faa0ab41199944ae6.svn-base
/mishkal/lib/pyarabic/.svn/pristine/87/871ca842d0cc1e89c655256d8f7bd8a0f9301367.svn-base
/mishkal/lib/pyarabic/.svn/pristine/89/89354bbd0a8b18b2f233f33f3b0fb71e3d311768.svn-base
/mishkal/lib/pyarabic/.svn/pristine/91/913eb54aaa43138d0c46b5e5b23769b149d82c29.svn-base
/mishkal/lib/pyarabic/.svn/pristine/91/91807c4d882dbf2ba8f1130bf7afd96190465ec9.svn-base
/mishkal/lib/pyarabic/.svn/pristine/92/921df336ac0765c8eee08807a0cbf3a3928eaa73.svn-base
/mishkal/lib/pyarabic/.svn/pristine/a0/a0027a9a39605ee439a067a0c7a4046ca093ea85.svn-base
/mishkal/lib/pyarabic/.svn/pristine/a0/a0243af9a15a4cb631749b311aa9896dc99a86ac.svn-base
/mishkal/lib/pyarabic/.svn/pristine/af/af6c7fe2866d5c85ce6ba038a232e61db71698ba.svn-base
/mishkal/lib/pyarabic/.svn/pristine/b2/b2efbe9a4b902fd5b49c639187c8c0c3bc6dcbb9.svn-base
/mishkal/lib/pyarabic/.svn/pristine/b6/b6030b8d9b6a4878314c1e396d3d1ebda580727c.svn-base
/mishkal/lib/pyarabic/.svn/pristine/b7/b72d90278550080fc27ae3afe34d1f631f8b061e.svn-base
/mishkal/lib/pyarabic/.svn/pristine/bc/bcc1196f30b7180116d58baef4b1b980a51cbdbe.svn-base
/mishkal/lib/pyarabic/.svn/pristine/c0/c0b400890e626ee3ae1a7a575af019cf7a0bf278.svn-base
/mishkal/lib/pyarabic/.svn/pristine/c7/c7e4142974fa9708f38763fe9ecd4ad3d1c36c26.svn-base
/mishkal/lib/pyarabic/.svn/pristine/c7/c7fb4b85209d432d7bf5de72bed1b1c7f3b9328d.svn-base
/mishkal/lib/pyarabic/.svn/pristine/d0/d011955e80d328da2513bc821217fbe32149840f.svn-base
/mishkal/lib/pyarabic/.svn/pristine/d3/d3e14a7a563333a667cdac1260255a5788817f9b.svn-base
/mishkal/lib/pyarabic/.svn/pristine/d3/d3f5cf42e68cbcc4912d274460c3d3074bdca91f.svn-base
/mishkal/lib/pyarabic/.svn/pristine/d4/d4b3765f011a61ab3f2d7ba91b5a89d505db725c.svn-base
/mishkal/lib/pyarabic/.svn/pristine/da/dafaddffd0bbdd1fc47e0a870a17f69b5ee0ccd2.svn-base
/mishkal/lib/pyarabic/.svn/pristine/e3/e324a28b7fbc994e03c6ea5b304a9ffb481a1f49.svn-base
/mishkal/lib/pyarabic/.svn/pristine/e6/e65325be4407363ca219005730c1afd44d8868e7.svn-base
/mishkal/lib/pyarabic/.svn/pristine/ef/ef4b487aea188b4d1468e2fbba22ccee9c360e86.svn-base
/mishkal/lib/pyarabic/.svn/pristine/f5/f51b22b08f436c657625456cbc87fa1788cc4247.svn-base
/mishkal/lib/pyarabic/.svn/pristine/f6/f6987ba0c6a35e55b9815e9196256f50b92e1ff5.svn-base
/mishkal/lib/pyarabic/.svn/pristine/fb/fb848f060a4bf789c476b61f3585014e395ad03a.svn-base
/mishkal/lib/pyarabic/.svn/pristine/fe/fee654cc70a179f239b9720f64bf04df596b0b59.svn-base
/mishkal/lib/pyarabic/.svn/pristine/ff/ffd7336b1d73784b0cc2f19b1d7e8a23a2be6970.svn-base
/mishkal/lib/pyarabic/.svn/wc.db
/adawaty.pyc
/core/__init__.pyc
/core/adaat.pyc
/core/randtext.pyc
/core/txt
/lib/web/okasha2/__init__.pyc
/lib/web/okasha2/baseWebApp.pyc
/lib/web/okasha2/utils.pyc
/mishkal/lib/CodernityDB/__init__.pyc
/mishkal/lib/CodernityDB/database.pyc
/mishkal/lib/CodernityDB/env.pyc
/mishkal/lib/CodernityDB/hash_index.pyc
/mishkal/lib/CodernityDB/index.pyc
/mishkal/lib/CodernityDB/misc.pyc
/mishkal/lib/CodernityDB/rr_cache.pyc
/mishkal/lib/CodernityDB/storage.pyc
/tmp/40444.shtml
/tmp/adawaty.py
/tmp/adawaty0.2.py
/tmp/adawaty01.py
/tmp/adawaty11.py
/tests/output/10.txt
/tests/output/chunks.txt
/tests/output/compare/201409Sun003_1642.txt
/tests/output/compare/201409Sun003_1719.txt
/tests/output/compare/201409Sun003_1725.txt
/tests/output/compare/201409Sun003_1727.txt
/tests/output/compare/201409Sun003_1730.txt
/tests/output/compare/201409Sun003_1750.txt
/tests/output/compare/201409Sun003_1751.txt
/tests/output/compare/201409Sun003_1804.txt
/tests/output/compare/201409Sun003_1806.txt
/tests/output/compare/201409Sun003_1808.txt
/tests/output/compare/201409Sun003_1814.txt
/tests/output/compare/201409Sun003_1819.txt
/tests/output/compare/201409Sun003_1820.txt
/tests/output/compare/201409Sun003_1829.txt
/tests/output/compare/201409Sun003_1842.txt
/tests/output/compare/201409Sun003_1845.txt
/tests/output/compare/201409Sun003_1846.txt
/tests/output/compare/201409Sun003_1853.txt
/tests/output/compare/201409Sun003_2234.txt
/tests/output/compare/201409Sun003_2259.txt
/tests/output/compare/201410Mon003_0843.txt
/tests/output/compare/201410Mon003_0851.txt
/tests/output/compare/201410Mon003_0853.txt
/tests/output/compare/201410Mon003_0855.txt
/tests/output/compare/201410Mon003_1249.txt
/tests/output/compare/201410Mon003_1250.txt
/tests/output/compare/201410Mon003_1258.txt
/tests/output/compare/201411Tue003_2018.txt
/tests/output/compare/201412Wed003_1536.txt
/tests/output/compare/201414Tue001_2140.txt
/tests/output/compare/201415Sat003_0912.txt
/tests/output/compare/201415Sat003_0915.txt
/tests/output/compare/201415Sat003_1345.txt
/tests/output/compare/201415Sat003_1346.txt
/tests/output/compare/201415Sat003_1347.txt
/tests/output/compare/201415Wed001_0759.txt
/tests/output/compare/201415Wed001_1012.txt
/tests/output/compare/201417Fri001_1014.txt
/tests/output/compare/201417Fri001_1021.txt
/tests/output/compare/201417Fri001_1022.txt
/tests/output/compare/201417Fri001_1030.txt
/tests/output/compare/201417Fri001_1042.txt
/tests/output/compare/201417Fri001_1044.txt
/tests/output/compare/201417Fri001_1045.txt
/tests/output/compare/201417Fri001_1047.txt
/tests/output/compare/201417Fri001_1057.txt
/tests/output/compare/201423Sun002_1249.txt
/tests/output/compare/201423Sun002_1252.txt
/tests/output/compare/201423Sun002_1253.txt
/tests/output/compare/201423Sun002_1255.txt
/tests/output/compare/201423Sun002_1302.txt
/tests/output/compare/201423Sun002_1303.txt
/tests/output/compare/201423Sun002_1304.txt
/tests/output/compare/201423Sun002_1305.txt
/tests/output/compare/201423Sun002_1308.txt
/tests/output/compare/201423Sun002_1310.txt
/tests/output/compare/201423Sun002_1313.txt
/tests/output/compare/201423Sun002_1751.txt
/tests/output/compare/201423Sun002_2213.txt
/tests/output/compare/201423Sun002_2224.txt
/tests/output/compare/201423Sun002_2226.txt
/tests/output/compare/201423Sun002_2239.txt
/tests/output/compare/201423Sun002_2250.txt
/tests/output/compare/201424Mon002_1001.txt
/tests/output/compare/201424Mon002_1003.txt
/tests/output/compare/201424Mon002_1009.txt
/tests/output/compare/201424Mon002_1110.txt
/tests/output/compare/201424Mon002_1257.txt
/tests/output/compare/201424Mon002_1259.txt
/tests/output/compare/201424Mon002_1300.txt
/tests/output/compare/201424Mon002_1410.txt
/tests/output/compare/201424Mon002_1448.txt
/tests/output/compare/201424Mon002_1539.txt
/tests/output/compare/201424Mon002_1639.txt
/tests/output/compare/201424Mon002_1751.txt
/tests/output/compare/201424Mon002_1753.txt
/tests/output/compare/201424Mon002_1755.txt
/tests/output/compare/201424Mon002_1756.txt
/tests/output/compare/201424Mon003_1439.txt
/tests/output/compare/201424Mon003_1455.txt
/tests/output/compare/201424Mon003_1459.txt
/tests/output/compare/201424Mon003_1523.txt
/tests/output/compare/201424Mon003_1546.txt
/tests/output/compare/201424Mon003_1558.txt
/tests/output/compare/201424Mon003_1648.txt
/tests/output/compare/201424Mon003_1744.txt
/tests/output/compare/201424Mon003_1749.txt
/tests/output/compare/201424Mon003_1757.txt
/tests/output/compare/201424Mon003_2318.txt
/tests/output/compare/201426Wed003_1629.txt
/tests/output/compare/201426Wed003_1709.txt
/tests/output/compare/201428Fri003_1521.txt
/tests/output/compare/201428Fri003_1523.txt
/tests/output/compare/201428Fri003_1530.txt
/tests/output/compare/201428Fri003_1536.txt
/tests/output/compare/201428Fri003_1541.txt
/tests/output/compare/201428Fri003_1547.txt
/tests/output/compare/201428Fri003_1548.txt
/tests/output/compare/201428Fri003_1618.txt
/tests/output/compare/201428Fri003_1630.txt
/tests/output/compare/201428Fri003_1631.txt
/tests/output/compare/201428Fri003_1643.txt
/tests/output/compare/201428Fri003_1652.txt
/tests/output/compare/201428Fri003_1658.txt
/tests/output/compare/201428Fri003_1744.txt
/tests/output/compare/201428Fri003_1745.txt
/tests/output/compare/L..txt
/tests/output/compare/L2014-03-30-13:33.txt
/tests/output/compare/L2014-03-30-13:44.txt
/tests/output/compare/L2014-03-30-18:49.txt
/tests/output/compare/L2014-03-30-18:59.txt
/tests/output/compare/L2014-03-30-20:56.txt
/tests/output/compare/L2014-03-30-20:57.txt
/tests/output/compare/L2014-03-30-21:06.txt
/tests/output/compare/L2014-03-30-21:15.txt
/tests/output/compare/L2014-03-30-21:16.txt
/tests/output/compare/L2014-03-30-21:17.txt
/tests/output/compare/L2014-03-30-21:20.txt
/tests/output/compare/L2014-03-30-21:41.txt
/tests/output/compare/L2014-04-13-14:00.txt
/tests/output/compare/L2014-04-13-14:09.txt
/tests/output/compare/L2014-04-13-14:16.txt
/tests/output/compare/L2014-05-03-14:52.txt
/tests/output/compare/L2014-05-03-14:54.txt
/tests/output/compare/L2014-05-03-15:04.txt
/tests/output/compare/L2014-05-17-17:51.txt
/tests/output/compare/L2014-05-17-17:57.txt
/tests/output/compare/L2014-05-17-18:02.txt
/tests/output/compare/L2014-05-17-18:03.txt
/tests/output/compare/L2014-05-17-18:09.txt
/tests/output/compare/L2014-05-17-18:15.txt
/tests/output/compare/L2014-05-17-18:19.txt
/tests/output/compare/L2014-05-17-18:52.txt
/tests/output/compare/L2014-05-17-19:01.txt
/tests/output/compare/L2014-05-17-19:18.txt
/tests/output/compare/L2014-05-17-19:19.txt
/tests/output/compare/L2014-05-17-19:23.txt
/tests/output/compare/L2014-05-17-19:24.txt
/tests/output/compare/L2014-05-17-19:27.txt
/tests/output/compare/L2014-05-17-19:31.txt
/tests/output/compare/L2014-05-17-19:32.txt
/tests/output/compare/L2014-05-17-19:33.txt
/tests/output/compare/L2014-05-17-19:34.txt
/tests/output/compare/L2014-05-17-19:35.txt
/tests/output/compare/L2014-05-17-19:37.txt
/tests/output/compare/L2014-05-17-19:38.txt
/tests/output/compare/L2014-05-17-19:42.txt
/tests/output/compare/L2014-05-17-19:44.txt
/tests/output/compare/L2014-05-17-20:12.txt
/tests/output/compare/L2014-05-17-20:13.txt
/tests/output/compare/L2014-05-17-20:14.txt
/tests/output/compare/L2014-05-17-20:38.txt
/tests/output/compare/L2014-05-17-20:40.txt
/tests/output/compare/L2014-05-17-21:12.txt
/tests/output/compare/L2014-05-18-11:06.txt
/tests/output/compare/L2014-05-18-11:07.txt
/tests/output/compare/L2014-05-18-11:09.txt
/tests/output/compare/L2014-05-18-11:31.txt
/tests/output/compare/L2014-05-18-11:32.txt
/tests/output/compare/L2014-05-18-16:03.txt
/tests/output/compare/L2014-05-18-16:08.txt
/tests/output/compare/L2014-05-18-16:09.txt
/tests/output/compare/L2014-05-18-16:22.txt
/tests/output/compare/L2014-05-18-16:24.txt
/tests/output/compare/L2014-05-18-16:25.txt
/tests/output/compare/L2014-05-18-16:42.txt
/tests/output/compare/L2014-05-18-16:43.txt
/tests/output/compare/L2014-05-18-16:45.txt
/tests/output/compare/L2014-05-18-16:54.txt
/tests/output/compare/L2014-05-18-17:06.txt
/tests/output/compare/L2014-05-18-17:08.txt
/tests/output/compare/L2014-05-18-17:09.txt
/tests/output/compare/L2014-05-18-17:13.txt
/tests/output/compare/L2014-05-18-17:18.txt
/tests/output/compare/L2014-05-18-17:20.txt
/tests/output/compare/L2014-05-18-17:24.txt
/tests/output/compare/L2014-05-18-17:30.txt
/tests/output/compare/L2014-05-18-17:47.txt
/tests/output/compare/L2014-05-18-18:23.txt
/tests/output/compare/L2014-05-18-18:40.txt
/tests/output/compare/L2014-05-19-18:14.txt
/tests/output/compare/L2014-05-19-19:52.txt
/tests/output/compare/L2014-05-19-20:23.txt
/tests/output/compare/L2014-05-19-20:49.txt
/tests/output/compare/L2014-05-19-20:52.txt
/tests/output/compare/L2014-05-19-20:53.txt
/tests/output/compare/L2014-05-19-20:55.txt
/tests/output/compare/L2014-05-19-21:00.txt
/tests/output/compare/rndlines.11.txt
/tests/output/compare/tqrirWaThrir.11.txt
/tests/output/phrases.txt
/tests/output/phrases/1.txt
/tests/output/phrases/201326Thu012_2101.txt
/tests/output/phrases/201403Mon003_0913.txt
/tests/output/phrases/201403Mon003_0914.txt
/tests/output/phrases/201403Mon003_0916.txt
/tests/output/phrases/201403Mon003_0919.txt
/tests/output/phrases/201403Mon003_0929.txt
/tests/output/phrases/201403Mon003_0930.txt
/tests/output/phrases/201403Mon003_0939.txt
/tests/output/phrases/201403Mon003_0949.txt
/tests/output/phrases/201403Mon003_0950.txt
/tests/output/phrases/201403Mon003_1137.txt
/tests/output/phrases/201403Mon003_1143.txt
/tests/output/phrases/201403Mon003_1145.txt
/tests/output/phrases/201403Mon003_1146.txt
/tests/output/phrases/201403Mon003_1404.txt
/tests/output/phrases/201403Mon003_1413.txt
/tests/output/phrases/201403Mon003_1548.txt
/tests/output/phrases/201403Mon003_1549.txt
/tests/output/phrases/201403Mon003_1615.txt
/tests/output/phrases/201403Mon003_1618.txt
/tests/output/phrases/201403Mon003_1625.txt
/tests/output/phrases/201407Fri003_1238.txt
/tests/output/phrases/201407Fri003_1812.txt
/tests/output/phrases/201423Sun002_1255.txt
/tests/output/phrases/201423Sun002_1256.txt
/tests/output/phrases1.txt
