/support/asmai/data/tosql3-masdar.py
/support/asmai/data/tosql3-masdarpy
/support/asmai/data/tosql3.py
/support/asmai/data/txt.sql
/tests/samples/vocalized/aljazeera.txt.tar.bz2
/tests/tashkeelforeign.py
/tests/txt
/support/asmai/data/tosql2.py
/interfaces/web/resources/files/adawat3.js
/support/aranasyn/anasyn2.py
/tools/txt
/~/tmp/qalsadiCache/_indexes/00id.py
/~/tmp/qalsadiCache/_indexes/01a.py
/~/tmp/qalsadiCache/a_buck
/~/tmp/qalsadiCache/a_stor
/~/tmp/qalsadiCache/id_buck
/~/tmp/qalsadiCache/id_stor
/support/arramooz/data/wordfreq.csv.zip
/support/qalsadi/stem_stopwords.new.py
/support/qalsadi/tmpNlyERn.html
/support/qalsadi/tmpoeWKg5.html
/support/spellcheck/~/tmp/qalsadiCache/_indexes/00id.py
/support/spellcheck/~/tmp/qalsadiCache/_indexes/01a.py
/support/spellcheck/~/tmp/qalsadiCache/a_buck
/support/spellcheck/~/tmp/qalsadiCache/a_stor
/support/spellcheck/~/tmp/qalsadiCache/id_buck
/support/spellcheck/~/tmp/qalsadiCache/id_stor
/support/yaraspell/txt
/support/yaraspell/txt2
/tests/file.stats
/tests/samples/corpus/text.txt
/tests/samples/vocalized/adab.txt
/tests/samples/vocalized/almuhalla.012.txt
/tests/samples/vocalized/qalbvoca.txt
/tests/~/tmp/qalsadiCache/_indexes/00id.py
/tests/~/tmp/qalsadiCache/_indexes/01a.py
/tests/~/tmp/qalsadiCache/a_buck
/tests/~/tmp/qalsadiCache/a_stor
/tests/~/tmp/qalsadiCache/id_buck
/tests/~/tmp/qalsadiCache/id_stor
/bin/~/tmp/qalsadiCache/_indexes/00id.py
/bin/~/tmp/qalsadiCache/_indexes/01a.py
/bin/~/tmp/qalsadiCache/a_buck
/bin/~/tmp/qalsadiCache/a_stor
/bin/~/tmp/qalsadiCache/id_buck
/bin/~/tmp/qalsadiCache/id_stor
/interfaces/web/resources/files/fonts.tar.gz
/support/aranasyn/stemmedsynword.old.py
/support/aranasyn/~/tmp/qalsadiCache/_indexes/00id.py
/support/aranasyn/~/tmp/qalsadiCache/_indexes/01a.py
/support/aranasyn/~/tmp/qalsadiCache/a_buck
/support/aranasyn/~/tmp/qalsadiCache/a_stor
/support/aranasyn/~/tmp/qalsadiCache/id_buck
/support/aranasyn/~/tmp/qalsadiCache/id_stor
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc 
# C extensions
*.so

.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

/tmp/
/tests/output
/interfaces/web/tmp/txt
/mishkal-reduced/bin/adawat-console.py
/mishkal-reduced/bin/mishkal-console.py
/mishkal-reduced/bin/thalab-console.py
/mishkal-reduced/bin/~/tmp/qalsadiCache/_indexes/00id.py
/mishkal-reduced/bin/~/tmp/qalsadiCache/_indexes/01a.py
/mishkal-reduced/bin/~/tmp/qalsadiCache/a_buck
/mishkal-reduced/bin/~/tmp/qalsadiCache/a_stor
/mishkal-reduced/bin/~/tmp/qalsadiCache/id_buck
/mishkal-reduced/bin/~/tmp/qalsadiCache/id_stor
/mishkal-reduced/core/__init__.py
/mishkal-reduced/core/adaat.py
/mishkal-reduced/core/affix_const.py
/mishkal-reduced/core/generate.py
/mishkal-reduced/core/myrepr.py
/mishkal-reduced/core/randtext.py
/mishkal-reduced/mishkal/tashkeel/__init__.py
/mishkal-reduced/mishkal/tashkeel/tashkeel.py
/mishkal-reduced/mishkal/tashkeel/tashkeel_const.py
/mishkal-reduced/mishkal/tashkeel/unknown_const.py
/mishkal-reduced/mishkal/tashkeel/unknown_tashkeel.py
/mishkal-reduced/mishkal/tashkeel/unkown.py
/mishkal-reduced/mishkal/tashkeel/unkown_const.py
/mishkal-reduced/mishkal/tashkeel/unkown_tashkeel.py
/mishkal-reduced/support/CodernityDB/__init__.py
/mishkal-reduced/support/CodernityDB/database.py
/mishkal-reduced/support/CodernityDB/database_gevent.py
/mishkal-reduced/support/CodernityDB/database_safe_shared.py
/mishkal-reduced/support/CodernityDB/database_super_thread_safe.py
/mishkal-reduced/support/CodernityDB/database_thread_safe.py
/mishkal-reduced/support/CodernityDB/debug_stuff.py
/mishkal-reduced/support/CodernityDB/env.py
/mishkal-reduced/support/CodernityDB/hash_index.py
/mishkal-reduced/support/CodernityDB/index.py
/mishkal-reduced/support/CodernityDB/indexcreator.py
/mishkal-reduced/support/CodernityDB/lfu_cache.py
/mishkal-reduced/support/CodernityDB/lfu_cache_with_lock.py
/mishkal-reduced/support/CodernityDB/migrate.py
/mishkal-reduced/support/CodernityDB/misc.py
/mishkal-reduced/support/CodernityDB/patch.py
/mishkal-reduced/support/CodernityDB/rr_cache.py
/mishkal-reduced/support/CodernityDB/rr_cache_with_lock.py
/mishkal-reduced/support/CodernityDB/sharded_hash.py
/mishkal-reduced/support/CodernityDB/sharded_index.py
/mishkal-reduced/support/CodernityDB/storage.py
/mishkal-reduced/support/CodernityDB/tree_index.py
/mishkal-reduced/support/aranasyn/__init__.py
/mishkal-reduced/support/aranasyn/anasyn.py
/mishkal-reduced/support/aranasyn/anasyn2.py
/mishkal-reduced/support/aranasyn/anasynDirect.py
/mishkal-reduced/support/aranasyn/cache.py
/mishkal-reduced/support/aranasyn/refactor.py
/mishkal-reduced/support/aranasyn/stemmedsynword.old.py
/mishkal-reduced/support/aranasyn/stemmedsynword.py
/mishkal-reduced/support/aranasyn/syn_const.py
/mishkal-reduced/support/aranasyn/synnode.py
/mishkal-reduced/support/arramooz/__init__.py
/mishkal-reduced/support/arramooz/arabicdictionary.py
/mishkal-reduced/support/arramooz/data/.~lock.prop_noun.csv#
/mishkal-reduced/support/arramooz/data/arabicdictionary.sqlite
/mishkal-reduced/support/arramooz/data/nouns.dict.sql
/mishkal-reduced/support/arramooz/data/nouns_sqliteStructure.sql
/mishkal-reduced/support/arramooz/data/prop_noun.csv
/mishkal-reduced/support/arramooz/data/randomtext.txt
/mishkal-reduced/support/arramooz/data/stopwords.sqlite
/mishkal-reduced/support/arramooz/data/verbs.dict.sqliteStructure.sql
/mishkal-reduced/support/arramooz/data/verbs.sql
/mishkal-reduced/support/arramooz/data/wordfreq.csv
/mishkal-reduced/support/arramooz/data/wordfreq.sqlite
/mishkal-reduced/support/arramooz/data/wordfreq.sqliteStructure.sql
/mishkal-reduced/support/arramooz/stopwordsdictionaryclass.py
/mishkal-reduced/support/arramooz/wordfreqdictionaryclass.py
/mishkal-reduced/support/asmai/__init__.py
/mishkal-reduced/support/asmai/anasem.py
/mishkal-reduced/support/asmai/collocationdictionary.py
/mishkal-reduced/support/asmai/data/fa3il.csv
/mishkal-reduced/support/asmai/data/maf3oul.csv
/mishkal-reduced/support/asmai/data/masdar.csv
/mishkal-reduced/support/asmai/data/tosql2.py
/mishkal-reduced/support/asmai/data/tosql3-masdar.py
/mishkal-reduced/support/asmai/data/tosql3-masdarpy
/mishkal-reduced/support/asmai/data/tosql3.py
/mishkal-reduced/support/asmai/data/txt.sql
/mishkal-reduced/support/asmai/sem_const_heavy.py
/mishkal-reduced/support/asmai/sem_const_light.py
/mishkal-reduced/support/asmai/semcollocationdictionary.py
/mishkal-reduced/support/asmai/semdictionary.py
/mishkal-reduced/support/libqutrub/.htaccess
/mishkal-reduced/support/libqutrub/__init__.py
/mishkal-reduced/support/libqutrub/alefmaddaverbtable.py
/mishkal-reduced/support/libqutrub/ar_ctype.py
/mishkal-reduced/support/libqutrub/ar_verb.py
/mishkal-reduced/support/libqutrub/arabic_const.py
/mishkal-reduced/support/libqutrub/classverb.py
/mishkal-reduced/support/libqutrub/conjugate.py
/mishkal-reduced/support/libqutrub/conjugatedisplay.py
/mishkal-reduced/support/libqutrub/mosaref_main.py
/mishkal-reduced/support/libqutrub/stack.py
/mishkal-reduced/support/libqutrub/triverbtable.py
/mishkal-reduced/support/libqutrub/verb_const.py
/mishkal-reduced/support/libqutrub/verb_db.py
/mishkal-reduced/support/libqutrub/verb_valid.py
/mishkal-reduced/support/maskouk/__init__.py
/mishkal-reduced/support/maskouk/collocation_const.py
/mishkal-reduced/support/maskouk/collocationdictionary.py
/mishkal-reduced/support/maskouk/collocations.py
/mishkal-reduced/support/maskouk/data/collocations.sqlite
/mishkal-reduced/support/maskouk/data/semantic.sqlite
/mishkal-reduced/support/naftawayh/__init__.py
/mishkal-reduced/support/naftawayh/affix_const.py
/mishkal-reduced/support/naftawayh/ar_ctype.py
/mishkal-reduced/support/naftawayh/ar_stopwords.py
/mishkal-reduced/support/naftawayh/ar_stowords.py
/mishkal-reduced/support/naftawayh/arabic_const.py
/mishkal-reduced/support/naftawayh/create_verbstamp.py
/mishkal-reduced/support/naftawayh/specialwords.py
/mishkal-reduced/support/naftawayh/stopwords.py
/mishkal-reduced/support/naftawayh/verb_dictionary.py
/mishkal-reduced/support/naftawayh/verb_stamp.py
/mishkal-reduced/support/naftawayh/wordtag.py
/mishkal-reduced/support/naftawayh/wordtag_const.py
/mishkal-reduced/support/pyarabic/__init__.py
/mishkal-reduced/support/pyarabic/arabrepr.py
/mishkal-reduced/support/pyarabic/araby.py
/mishkal-reduced/support/pyarabic/araby_const.py
/mishkal-reduced/support/pyarabic/harf.py
/mishkal-reduced/support/pyarabic/kalima.py
/mishkal-reduced/support/pyarabic/named.py
/mishkal-reduced/support/pyarabic/named_const.py
/mishkal-reduced/support/pyarabic/number.py
/mishkal-reduced/support/pyarabic/number_const.py
/mishkal-reduced/support/pyarabic/propernouns.py
/mishkal-reduced/support/pyarabic/stack.py
/mishkal-reduced/support/pyarabic/txt
/mishkal-reduced/support/pyarabic/unshape.py
/mishkal-reduced/support/qalsadi/__init__.py
/mishkal-reduced/support/qalsadi/analex.py
/mishkal-reduced/support/qalsadi/analex_const.py
/mishkal-reduced/support/qalsadi/cache.py
/mishkal-reduced/support/qalsadi/dictword.py
/mishkal-reduced/support/qalsadi/disambig.py
/mishkal-reduced/support/qalsadi/disambig_const.py
/mishkal-reduced/support/qalsadi/libqutrub/__init__.py
/mishkal-reduced/support/qalsadi/libqutrub/alefmaddaverbtable.py
/mishkal-reduced/support/qalsadi/libqutrub/ar_ctype.py
/mishkal-reduced/support/qalsadi/libqutrub/ar_verb.py
/mishkal-reduced/support/qalsadi/libqutrub/arabic_const.py
/mishkal-reduced/support/qalsadi/libqutrub/classverb.py
/mishkal-reduced/support/qalsadi/libqutrub/conjugate.py
/mishkal-reduced/support/qalsadi/libqutrub/conjugatedisplay.py
/mishkal-reduced/support/qalsadi/libqutrub/mosaref_main.py
/mishkal-reduced/support/qalsadi/libqutrub/stack.py
/mishkal-reduced/support/qalsadi/libqutrub/triverbtable.py
/mishkal-reduced/support/qalsadi/libqutrub/verb_const.py
/mishkal-reduced/support/qalsadi/libqutrub/verb_db.py
/mishkal-reduced/support/qalsadi/libqutrub/verb_valid.py
/mishkal-reduced/support/qalsadi/stem_noun.py
/mishkal-reduced/support/qalsadi/stem_noun_const.py
/mishkal-reduced/support/qalsadi/stem_noun_old.py
/mishkal-reduced/support/qalsadi/stem_pounct_const.py
/mishkal-reduced/support/qalsadi/stem_stop.py
/mishkal-reduced/support/qalsadi/stem_stopwords.new.py
/mishkal-reduced/support/qalsadi/stem_stopwords.py
/mishkal-reduced/support/qalsadi/stem_stopwords_const.py
/mishkal-reduced/support/qalsadi/stem_unknown.py
/mishkal-reduced/support/qalsadi/stem_unknown_const.py
/mishkal-reduced/support/qalsadi/stem_verb.py
/mishkal-reduced/support/qalsadi/stem_verb_const.py
/mishkal-reduced/support/qalsadi/stem_verb_old.py
/mishkal-reduced/support/qalsadi/stemmedaffix.py
/mishkal-reduced/support/qalsadi/stemmedword.py
/mishkal-reduced/support/qalsadi/stopwords.py
/mishkal-reduced/support/qalsadi/tmpNlyERn.html
/mishkal-reduced/support/qalsadi/tmpoeWKg5.html
/mishkal-reduced/support/qalsadi/wordcase.py
/mishkal-reduced/support/tashaphyne/__init__.py
/mishkal-reduced/support/tashaphyne/arabic_const.py
/mishkal-reduced/support/tashaphyne/normalize.py
/mishkal-reduced/support/tashaphyne/stem_const.py
/mishkal-reduced/support/tashaphyne/stemming.py
/mishkal-reduced/tools/.mintiq.swp
/mishkal-reduced/tools/cleancache
/mishkal-reduced/tools/cleanpyc
/mishkal-reduced/tools/mintiq
/mishkal-reduced/tools/mintiq2
/mishkal-reduced/tools/strip_lastmark.sh
/mishkal-reduced/tools/strip_tashkeel.sh
/mishkal-reduced/tools/token_convert_to_csv.sh
/mishkal-reduced/tools/tokenize.sh
/mishkal-reduced/tools/tokenize_uniq.sh
/mishkal-reduced/tools/txt
/tests/samples/apple.txt
/tests/samples/double.txt
