*.pyc
tests/*
tmp/*
/interfaces/web/tmp/*
/support/asmai/
/support/aranasyn/
/support/archive/
/interfaces/web/resources/files/fonts.tar.gz
/support/spellcheck/~/*
/support/yaraspell/txt
/support/yaraspell/txt2
/tools/txt
/interfaces/web/resources/templates/main.2.html
/
build/
dist/
mishkal.egg-info/
mypythonenv/
