<!DOCTYPE html 	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="ar">
<head>
<title>مشكال النصوص العربية</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/png" href="%(script)s/_files/favicon.png">

</head>
<body dir="rtl">
<img src="images/logo.png" alt="مشكال: تشكيل النصوص العربية" width=150 style='float:right;'>
<div id="mainbox">


  <div id="footer">
    <a href="/mishkal/contact">للاتصال</a>&nbsp;
    &nbsp;بدعم من &nbsp;&nbsp; <a href="http://www.arabeyes.org">arabeyes.org</a>
	<a href="http://blog.tahadz.com">مدونتي</a>
	</div>
<script type="text/javascript">var script="%(script)s";</script>
<!--<script type="text/javascript" src="%(script)s/_files/qamoos.js"></script>-->
<script type="text/javascript" src="%(script)s/_files/adawat.js"></script>

</body>
</html>
