<!DOCTYPE html>

<html lang='ar'>
<head>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>مشكال النصوص العربية</title>
  <meta charset="UTF-8">
  <link href="styles.css" rel="stylesheet">
  <link href="%(script)s/_files/favicon1.png" rel="icon" type="image/png">
  <link href="%(script)s/_files/adawatstyle.css" rel="stylesheet">
  <link href="%(script)s/_files/xzero-rtl/css/bootstrap-arabic.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="%(script)s/_files/twbs-rtl/css/bootstrap-arabic.min.css">-->

  <script src="%(script)s/_files/jquery-1.7.1.min.js"></script>
  <script src="%(script)s/_files/xzero-rtl/js/bootstrap-arabic.min.js"></script><!--<link rel="stylesheet" href="%(script)s/_files/twbs-rtl/css/bootstrap.min.css">-->
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body dir="rtl">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/mishkal/main"><img alt="مشكال: تشكيل النصوص العربية" height="70px"
          src="%(script)s/_files/logo.png" style='float:right; margin-top:-20px;'></a>
        </div>

        <div>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a class="active" href="index"><span class=
              "glyphicon glyphicon-home"></span>الرئيسية</a>
            </li>

            <li>
              <a href="/mishkal/doc"><span class="glyphicon glyphicon-info-sign"></span>توثيق</a>
            </li>

            <li class="active">
              <a href="/mishkal/download"><span class="glyphicon glyphicon-download"></span>تحميل</a>
            </li>

            <li>
              <a href="/mishkal/projects"><span class="glyphicon glyphicon-pushpin"></span>مشاريع</a>
            </li>

            <li>
              <a href="/mishkal/contact"><span class="glyphicon glyphicon-envelope"></span>اتصل بنا</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>%(header)s

  <h1>تحميل</h1>

  <ul>
    <li>
      <a href="http://sourceforge.net/projects/mishkal/files/mishkal-Desktop-Win-0.1.4.zip/download">تطبيق سطح المكتب -وندوز-</a>    </li>
    <li>
      <a href="https://sourceforge.net/projects/mishkal/files/">تطبيق سطح المكتب -لينكس-</a><br>
    </li>

    <li>
      <a href="https://sourceforge.net/projects/mishkal/files/">مصدر البرنامج مضغوط</a><br>
    </li>

    <li>
      <a href="https://svn.arabeyes.org/svn/projects/mishkal">مصدر البرنامج على svn</a><br>
    </li>
  </ul>%(footer)s
</body>
</html>
