<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title> مشكال: تشكيل النصوص العربية</title>
<link rel="icon" type="image/png" href="%(script)s/_files/favicon.png">
<link rel="stylesheet" type="text/css" href="%(script)s/_files/adawatstyle.css"/>
</head>
<body dir="rtl">
%(header)s

<h1>تحميل</h1>

<ul>
<li>
<a href="https://sourceforge.net/projects/mishkal/files/">تطبيق سطح المكتب -لينكس-</a><br>
</li>
<li>
<a href="https://sourceforge.net/projects/mishkal/files/">تطبيق سطح المكتب -وندوز-</a><br>
</li>

<li>
<a href="https://sourceforge.net/projects/mishkal/files/">مصدر البرنامج مضغوط</a><br>
</li>
<li>
<a href="https://svn.arabeyes.org/svn/projects/mishkal">مصدر البرنامج على svn</a><br>
</li>
</ul>

%(footer)s
