<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title> مشكال: تشكيل النصوص العربية </title>
<link rel="icon" type="image/png" href="%(script)s/_files/favicon.png">
<link rel="stylesheet" type="text/css" href="%(script)s/_files/adawatstyle.css"/>
</head>
<body dir="rtl">
%(header)s

<h1>روابط</h1>

<h3>موارد</h3>
<ul>
<li>
<a  href="http://tashkeela.sf.net/"> مدونة النصوص العربية المشكولة</a>
</li>
<li>
<a  href="http://maskouk.sf.net/"> المتلازمات اللفظية العربية</a>
</li>

<li>
<a  href="http://aracorpus.e3rab.com/"> دليل المدونات اللغوية العربية (مكانز) المتاحة</a>
</li>
<li>
<a  href="http://radif.sf.net/"> الرديف معجم المترادفات والأضداد، والقوافي وجموع التكسير </a>
</li>

<li>
<a  href="http://arabicstopwords.sf.net">الكلمات المستبعدة arabic stop words</a>
</li>
</ul>

<!--
<h3>مشاريع التشكيل</h3>

<ul>
  <li>برنامج نظام صرف : <a href="http://sarf.sourceforge.net">http://sarf.sourceforge.net</a></li>
 
 </ul>

<h3>مشاريع مماثلة</h3>
-->

<h3>إطار الويب</h3>
<ul>
<li>
<a  href="http://www.ojuba.org/wiki/okasha/"> هذا البرنامج يعمل على إطار الويب عكاشة</a>
</li>

</ul>
%(footer)s
</body>
</html>