<!DOCTYPE html>

<html lang='ar'>
<head>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <title>مشكال النصوص العربية</title>
  <meta charset="UTF-8">
  <link href="styles.css" rel="stylesheet">
  <link href="%(script)s/_files/favicon1.png" rel="icon" type="image/png">
  <link href="%(script)s/_files/adawatstyle.css" rel="stylesheet">
  <link href="%(script)s/_files/xzero-rtl/css/bootstrap-arabic.min.css" rel="stylesheet">
  <!--<link rel="stylesheet" href="%(script)s/_files/twbs-rtl/css/bootstrap-arabic.min.css">-->

  <script src="%(script)s/_files/jquery-1.7.1.min.js"></script>
  <script src="%(script)s/_files/xzero-rtl/js/bootstrap-arabic.min.js"></script><!--<link rel="stylesheet" href="%(script)s/_files/twbs-rtl/css/bootstrap.min.css">-->
  <meta content="width=device-width, initial-scale=1" name="viewport">
</head>

<body dir="rtl">
  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/mishkal/main"><img alt="مشكال: تشكيل النصوص العربية" height="70px"
          src="%(script)s/_files/logo.png" style='float:right; margin-top:-20px;'></a>
        </div>

        <div>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a class="active" href="index"><span class=
              "glyphicon glyphicon-home"></span>الرئيسية</a>
            </li>

            <li>
              <a href="/mishkal/doc"><span class="glyphicon glyphicon-info-sign"></span>توثيق</a>
            </li>

            <li>
              <a href="/mishkal/download"><span class="glyphicon glyphicon-download"></span>تحميل</a>
            </li>

            <li class="active">
              <a href="/mishkal/projects"><span class="glyphicon glyphicon-pushpin"></span>مشاريع</a>
            </li>

            <li>
              <a href="/mishkal/contact"><span class="glyphicon glyphicon-envelope"></span>اتصل بنا</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>%(header)s

  <h2>مشاريع</h2>

  <ul>
    <li>
      <a href="http://tashkeela.sf.net/">مدونة النصوص العربية المشكولة</a>
    </li>

    <li>
      <a href="http://maskouk.sf.net/">المتلازمات اللفظية العربية</a>
    </li>

    <li>
      <a href="http://naftawayh.sf.net/">مكتبة نفطويه لتصنيف الكلمات العربية</a>
    </li>

    <li>
      <a href="http://arramooz.sf.net/">الراموز الوسيط: المعجم العربي الحر للتحليل الصرفي</a>
    </li>

    <li>
      <a href="http://arabicwordslide.sf.net/">لعبة الكلمات المنزلقة</a>
    </li>

    <li>
      <a href="http://ghalatawi.sf.net/">غلطاوي: التصحيح التلقائي العربي</a>
    </li>

    <li>
      <a href="http://aracorpus.e3rab.com/">دليل المدونات اللغوية العربية (مكانز) المتاحة</a>
    </li>

    <li>
      <a href="http://arabproglang.wordpress.com">مدونة "مبادرة اللغات البرمجية العربية"</a>
    </li>

    <li>
      <a href="http://radif.sf.net/">الرديف معجم المترادفات والأضداد، والقوافي وجموع التكسير</a>
    </li>

    <li>
      <a href="http://ayaspell.sf.net/syno">معجم المترادفات على sinonimi</a>
    </li>

    <li>
      <a href="http://qutrub.arabeyes.org">قطرب لتصريف الأفعال</a>
    </li>

    <li>
      <a href="http://adawaty.appspot.com">أدوات معالجة النص العربي</a>
    </li>

    <li>
      <a href="http://arabicmorphoanalayzer.appspot.com">المحلل الصرفي العربي</a>
    </li>

    <li>
      <a href="http://ayaspell.sf.net">المدقق الإملائي العربي الحر</a>
    </li>

    <li>
      <a href="http://arabicstopwords.sf.net">الكلمات المستبعدة arabic stop words</a>
    </li>

    <li>
      <a href="http://esidzstudentdic.sourceforge.net">دليل المصطلحات للسنة الأولى في المدرسة
      الوطنية العليا للحاسوب بالجزائر</a>
    </li>

    <li>
      <a href="http://pypi.python.org/pypi/PyArabic/">مكتبة بايثون للعربية Python and Arabic</a>
    </li>

    <li>
      <a href="http://pypi.python.org/pypi/Tashaphyne/">مكتبة تاشفين للتحليل</a>
    </li>
  </ul>%(footer)s
</body>
</html>
